@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities; 


/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #4d519f;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 5px;
}

* {
  scrollbar-color: #4d519f #ffffff;
  scrollbar-width: thin;
}

@layer components {
  .layout {
    @apply px-2 py-1 md:px-16 md:py-4 
  }
}

